<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* This is the page that shows*@
    <div class="container">

        @RenderBody()
        <br/>
        <hr />
        <footer class="footer">
            <p>&copy; Loura Coons 2015</p>
        </footer>

    </div> <!-- /container -->
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
